<div class="l-about-banner">
    <img src="../images/l-about-banner.png"/>
</div>
<div class="l-about-content">
    <div class="l-about-main">
        <img src="../images/l-about-we.png"/>
        <span>独具创新的革命性新理念</span>
        <h1>我们专注，所以值得信赖</h1>
        <b></b>
        <p>每个女孩都是他的公主.六月,花事正浓,寻寻觅觅,历览林间花红柳绿,穿梭寻常的街道巷尾刹那间,熟悉的路口,一家专为新人提供全方位婚礼策划服务，<br/>由80、90后婚礼策划、时尚、广告各界领域精英组成，创立于2008年，是专注于婚礼创意策划、量身定做、礼仪服务专业婚庆。幸福文化，为你我传递幸福，实现每对新人的婚礼梦想，<br/>全球领先的一站式婚礼服务专家,中国婚博会指定战略合作伙伴。</p>
    </div>
</div>
<div class="l-about-content2">
    <span></span>
</div>
<div class="l-about-content3">
    <h1>只为你的美丽一刻</h1>
    <span>为你我传递幸福</span>
    <b></b><br/>
    <p>作为人文艺术婚礼的倡导品牌，每年摩卡婚礼流行趋势发布，均成为整年婚礼行业的风向标，其作品与理念受各大高端专业杂志、电视台及一线网络媒体特约报道，荣获中国时尚行业颁发<br/>的“婚尚婚礼策划奖”。</p>
    <p>王子和公主的邂逅不是巧合而是命定,每个女孩都是他的公主.六月,花事正浓,寻寻觅觅,历览林间花红柳绿,穿梭寻常的街道巷尾刹那间,熟悉的路口,迎面撞上你的回眸从此,暖意律动,你住进我的眼里和心底.欧式宴会大厅给人以典雅高 贵的感觉.</p>
</div>
<div class="l-about-content4">
    <!--<img src="../images/l-about-left.png"/>-->
    <!--<img src="../images/l-about-right.png"/>-->
    <span class="span1"><a></a></span>
    <span class="span2"><a></a></span>
</div>
<div class="l-about-content5">
    <div class="l-content5-left">
        <h1>全球领先的一站式婚礼服务专家</h1>
        <span>幸福文化，为你我传递幸福，实现每对新人的婚礼梦想</span>
        <p>
            地址:beijing<br/>
            联系电话：15110264728<br/>
            邮箱：2249516210@qq.com<br/>
            邮政编码：126000<br/>
        </p>
    </div>
    <div class="l-content5-right">
        <span>姓名：</span>
        <input type="text" class="name"/><s>*</s><br/>
        <span>联系方式：</span>
        <input type="text" class="tel"/><s>*</s><br/>
        <span>邮箱：</span>
        <input type="text" class="mail"/><s>*</s><br/>
        <span>策划需求：</span>
        <textarea cols="69" rows="6"></textarea><br/>
        <button>提交</button>
    </div>
</div>