<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<!--<div class="c_banner"></div>-->
		<div class="weichuangyi">
		    <div class="weichuangyi_main">
		        <ul class="weichuangyi_ul">
		            <li><a href="#" class="img"><img src="../images/case_banner.jpg"  alt="微创意" /></a></li>
		            <li><a href="#" class="img"><img src="../images/case_banner2.png" alt="微创意" /></a></li>
		        </ul>
		    </div>
		    <p class="weichuangyi_left"></p>
		    <p class="weichuangyi_right"></p>
		    <div class="weichuangyi_span"><p><span class="weichuangyi_span_one"></span> <span></span></p></div>
		</div>
		
		<div class="c_content">
			<h1>室内西式，魅力风情</h1>
			<h3>STOP WEDDING SERVICE SPECIALIST</h3>
			<span class="c_content1">
				<img src="../images/c_fk.jpg" />
			</span>
			<p>
				王子和公主的邂逅不是巧合而是命定，每个女孩都是他的公主。六月，花事正浓，寻寻觅觅，历览林间花红柳绿，穿梭寻常的街道巷尾刹那间，熟悉的路口，一家专为新人提供全方位婚礼策划服务，由80、90后婚礼策划、时尚、广告各界领域精英组成，创立于2008年，是专注于婚礼创意策划、量向定做、视仪服务的专业婚庆。幸福文化，为你我传递幸福，实现每对新人的婚礼梦想，全球领先的一站式婚礼服务专家，中国婚博会指定战略合作伙伴。
			</p>
		</div>
		<div class="c_pic">
			<div><img src="../images/c_img1.png"/></div>
			<div><img src="../images/c_img2.png"/></div>
		</div>
		<div class="c_content">
			<h1>室内西式，魅力风情</h1>
			<h3>STOP WEDDING SERVICE SPECIALIST</h3>
			<span class="c_content1">
				<img src="../images/c_fk.jpg" />
			</span>
			<p>
				王子和公主的邂逅不是巧合而是命定，每个女孩都是他的公主。六月，花事正浓，寻寻觅觅，历览林间花红柳绿，穿梭寻常的街道巷尾刹那间，熟悉的路口，一家专为新人提供全方位婚礼策划服务，由80、90后婚礼策划、时尚、广告各界领域精英组成，创立于2008年，是专注于婚礼创意策划、量向定做、视仪服务的专业婚庆。幸福文化，为你我传递幸福，实现每对新人的婚礼梦想，全球领先的一站式婚礼服务专家，中国婚博会指定战略合作伙伴。
			</p>
		</div>
		<div class="c_wedding_pic">
			<div class="c_wedding_pic1">
				<img src="../images/c_wedding1.png" />
				<img src="../images/c_wedding2.png" />
				<img src="../images/c_wedding3.png" />
			</div>
			<div class="c_wedding_pic2">
				<img src="../images/c_wedding4.png" />
				<img src="../images/c_wedding5.png" />
				<img src="../images/c_wedding6.png" />
			</div>
		</div>
	</body>
</html>
