
        <!--李雪松轮播图部分-->
<div class="song-demo">
	<ul>
		<li><img src="../images/banner_1.jpg" /></li>
		<li><img src="../images/banner_2.jpg" /></li>
	</ul>
</div>

			<!--李雪松   content   第一部分-->
<div class="song-con1">
	<div class="null1"></div>
	<div class="song-con1-1">
			<p>为您打造明星般一站式婚礼服务</p>
			<h6>FOR YOU TO CREAT A STAR-LIKE ONG-STOP WEDDING SERVICE</h6>
	</div>
	<div class="null2"></div>
	<div class="song-con1-2">
		<p>一家专为新人提供全方位婚礼策划服务，由80、90后婚礼策划、时尚、广告界领域精英组成，创立于2008年，</p>
		<p>是专注于婚礼创意策划、量身定做、礼仪服务的专业婚庆。</p>
	</div>
</div>
<div class="song-con2">
		<div class="song-con2-con">
			<div class="song-con2-con-left">
				<img src="../images/song1.jpg" alt="" />
			</div>
			<div class="song-con2-con-con">
					<div class="song-con2-con-con1">
							<img src="../images/song2.jpg" alt="" />
					</div>
					<div class="song-con2-con-con2">
							<div class="song-con2-con-con2-1">
								<img src="../images/song3.jpg" alt="" />
							</div>
							<div class="song-con2-con-con2-2">
								<img src="../images/song4.jpg" alt="" />
							</div>
					</div>
			</div>
			<div class="song-con2-con-right">
					<div class="song-conright-1">
						<img src="../images/song5.jpg" alt="" />
					</div>
					<div class="song-conright-2">
						<img src="../images/song6.jpg" alt="" />
					</div>
			</div>
		</div>
</div>
<div class="null4"></div>
<div class="song-con3">
		<div class="song-con3-li">
			<p>邂逅如此完美</p>
			<img src="../images/song7.jpg" alt="" />
		</div>
</div>
<div class="song-con4">
		<div class="null6"></div>
		<p>他和她，在美国相遇，相知，相识，相恋，相爱</p>
		<p>他和她，遇到过很多困难，甚至阻拦</p>
		<p>可他们始终紧握着对方的手，不愿放弃</p>
		<p>终于到现在，即将步入婚姻的殿堂。让我们祝福他们，携手一生，钟爱到老</p>
</div>
<div class="null5"></div>
<div class="song-div5">
			<div class="song-div5-con">
					<div class="song-div5-con-1" style="background:#ff6637;">
						<p class="song-div5-con-1-p1" style="color:white;">定制婚礼</p>
					</div>
					<div class="song-div5-con-2">
						<p class="song-div5-con-2-p2">户外婚礼</p>
					</div>
					<div class="song-div5-con-3">
						<p class="song-div5-con-3-p3">海外婚礼</p>
					</div>
			</div>
</div>
<div class="null8"></div>

				<!--李雪松   选项卡部分-->
<div class="song-div6">
	
										<!--	第一张选项卡-->
	<div class="song-div6-con1">
		<div class="song-div6-yi">
				<div class="song-div6-yi-1">
						<div class="song-div6-img">
							<img src="../images/dz_1.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>G&Z 森林风格</p>
						</div>
				</div>
				<div class="song-div6-yi-2">
					<div class="song-div6-img">
							<img src="../images/dz_2.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>F&R 地中海风格</p>
						</div>
				</div>
				<div class="song-div6-yi-3">
					<div class="song-div6-img">
							<img src="../images/dz_3.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>B&M 复古格调风格</p>
						</div>
				</div>
		</div>
		<div class="song-div6-er">
				<div class="song-div6-er-1">
					<div class="song-div6-img">
							<img src="../images/dz_4.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>T&J 时尚中式风格</p>
						</div>
				</div>
				<div class="song-div6-er-2">
					<div class="song-div6-img">
							<img src="../images/dz_5.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>V&K 彩绘玻璃教堂风格</p>
						</div>
				</div>
				<div class="song-div6-er-3">
					<div class="song-div6-img">
							<img src="../images/dz_6.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>G&O 香奈儿风格</p>
						</div>
				</div>
		</div>
	</div>
	
												<!--第二张选项卡-->
	<div class="song-div6-con2" style="display: none;">
		<div class="song-div6-yi">
				<div class="song-div6-yi-1">
						<div class="song-div6-img">
							<img src="../images/huw_1.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>G&Z 古镇主题</p>
						</div>
				</div>
				<div class="song-div6-yi-2">
					<div class="song-div6-img">
								<img src="../images/huw_2.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>F&R 鲜花主题1</p>
						</div>
				</div>
				<div class="song-div6-yi-3">
					<div class="song-div6-img">
								<img src="../images/huw_3.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>B&M 森林主题</p>
						</div>
				</div>
		</div>
		<div class="song-div6-er">
				<div class="song-div6-er-1">
					<div class="song-div6-img">
								<img src="../images/huw_4.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>T&J 鲜花主题2</p>
						</div>
				</div>
				<div class="song-div6-er-2">
					<div class="song-div6-img">
								<img src="../images/huw_5.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>V&K 森林主题2</p>
						</div>
				</div>
				<div class="song-div6-er-3">
					<div class="song-div6-img">
								<img src="../images/huw_6.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>G&O 鲜花主题3</p>
						</div>
				</div>
		</div>
	</div>
	
											<!--第三张选项卡-->
	<div class="song-div6-con3" style="display: none;">
		<div class="song-div6-yi">
				<div class="song-div6-yi-1">
						<div class="song-div6-img">
							<img src="../images/hai_1.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>G&Z 威斯汀沙滩</p>
						</div>
				</div>
				<div class="song-div6-yi-2">
					<div class="song-div6-img">
								<img src="../images/hai_2.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>F&R 塞班海上游艇</p>
						</div>
				</div>
				<div class="song-div6-yi-3">
					<div class="song-div6-img">
								<img src="../images/hai_3.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>B&M 海外水上教堂</p>
						</div>
				</div>
		</div>
		<div class="song-div6-er">
				<div class="song-div6-er-1">
					<div class="song-div6-img">
								<img src="../images/hai_4.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>T&J 巴厘岛沙滩</p>
						</div>
				</div>
				<div class="song-div6-er-2">
					<div class="song-div6-img">
							<img src="../images/hai_5.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>V&K 关岛</p>
						</div>
				</div>
				<div class="song-div6-er-3">
					<div class="song-div6-img">
								<img src="../images/hai_6.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>G&O 爱琴海</p>
						</div>
				</div>
		</div>
	</div>
</div>
<div class="null9"></div>
<div class="song-div7">
		<p>"让您的婚礼如花儿般绽放"</p>
</div>
<div class="song-div8">
		<p>流光溢彩安然如斯,勇敢诠释爱</p>
</div>

			