
        <!--李雪松轮播图部分-->
<div class="song-demo">
	<ul>
		<li><img src="../images/banner_1.jpg" /></li>
		<li><img src="../images/banner_2.jpg" /></li>
	</ul>
</div>

			<!--李雪松   content   第一部分-->
<div class="song-con1">
	<div class="null1"></div>
	<div class="song-con1-1">
			<p>为您打造明星般一站式婚礼服务</p>
			<h6>FOR YOU TO CREAT A STAR-LIKE ONG-STOP WEDDING SERVICE</h6>
	</div>
	<div class="null2"></div>
	<div class="song-con1-2">
		<p style="color:#333333;">这是一份甜蜜的事业 我们为此乐此不疲，专案服务团队，完美婚礼缔造者</p>
		<p style="font-size: 13px;">IT'S A SWEET CAUSE WE'VE HAD，PPROJECT SERVICES TEAM ,PERFECT WEDDING</p>
	</div>
</div>
<div class="song-con2">
		<div class="song-con2-con">
			<div class="song-con2-con-left">
				<img src="../images/song1.jpg" alt="" />
			</div>
			<div class="song-con2-con-con">
					<div class="song-con2-con-con1">
							<img src="../images/song2.jpg" alt="" />
					</div>
					<div class="song-con2-con-con2">
							<div class="song-con2-con-con2-1">
								<img src="../images/song3.jpg" alt="" />
							</div>
							<div class="song-con2-con-con2-2">
								<img src="../images/song4.jpg" alt="" />
							</div>
					</div>
			</div>
			<div class="song-con2-con-right">
					<div class="song-conright-1">
						<img src="../images/song5.jpg" alt="" />
					</div>
					<div class="song-conright-2">
						<img src="../images/song6.jpg" alt="" />
					</div>
			</div>
		</div>
</div>
<div class="null4"></div>
<div class="song-con3">
		<div class="song-con3-li">
			<p>邂逅如此完美</p>
			<img src="../images/song7.jpg" alt="" />
		</div>
</div>
<div class="song-con4">
		<div class="null6"></div>
		<p>他和她，在美国相遇，相知，相识，相恋，相爱</p>
		<p>他和她，遇到过很多困难，甚至阻拦</p>
		<p>可他们始终紧握着对方的手，不愿放弃</p>
		<p>终于到现在，即将步入婚姻的殿堂。让我们祝福他们，携手一生，钟爱到老</p>
</div>
<div class="null5"></div>
<div class="song-div5">
			<div class="song-div5-con">
					<div class="song-div5-con-1" ng-class="{'tab_bg':i=$index}" ng-click="addback($index)">
						<p class="song-div5-con-1-p1" ng-click="swi('j1')">定制婚礼</p>
					</div>
					<div class="song-div5-con-2">
						<p class="song-div5-con-2-p2" ng-click="swi('j2')" ng-class="abc">户外婚礼</p>
					</div>
					<div class="song-div5-con-3">
						<p class="song-div5-con-3-p3" ng-click="swi('j3')" ng-class="abc">海外婚礼</p>
					</div>
			</div>
</div>
<div class="null8"></div>

				<!--李雪松   选项卡部分-->
<div class="song-div6" ng-switch="tab">
	
										<!--	第一张选项卡-->
	<div class="song-div6-con1"  ng-switch-default>
		<div class="song-div6-yi">
				<div class="song-div6-yi-1">
						<div class="song-div6-img">
							<img src="../images/dz_1.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>G&Z 森林风格</p>
						</div>
				</div>
				<div class="song-div6-yi-2">
					<div class="song-div6-img">
							<img src="../images/dz_2.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>F&R 地中海风格</p>
						</div>
				</div>
				<div class="song-div6-yi-3">
					<div class="song-div6-img">
							<img src="../images/dz_3.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>B&M 复古格调风格</p>
						</div>
				</div>
		</div>
		<div class="song-div6-er">
				<div class="song-div6-er-1">
					<div class="song-div6-img">
							<img src="../images/dz_4.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>T&J 时尚中式风格</p>
						</div>
				</div>
				<div class="song-div6-er-2">
					<div class="song-div6-img">
							<img src="../images/dz_5.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>V&K 彩绘玻璃教堂风格</p>
						</div>
				</div>
				<div class="song-div6-er-3">
					<div class="song-div6-img">
							<img src="../images/dz_6.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>G&O 香奈儿风格</p>
						</div>
				</div>
		</div>
	</div>
	
												<!--第二张选项卡-->
	<div class="song-div6-con2" ng-switch-when="j2">
		<div class="song-div6-yi">
				<div class="song-div6-yi-1">
						<div class="song-div6-img">
							<img src="../images/huw_1.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>G&Z 古镇主题</p>
						</div>
				</div>
				<div class="song-div6-yi-2">
					<div class="song-div6-img">
								<img src="../images/huw_2.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>F&R 鲜花主题1</p>
						</div>
				</div>
				<div class="song-div6-yi-3">
					<div class="song-div6-img">
								<img src="../images/huw_3.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>B&M 森林主题</p>
						</div>
				</div>
		</div>
		<div class="song-div6-er">
				<div class="song-div6-er-1">
					<div class="song-div6-img">
								<img src="../images/huw_4.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>T&J 鲜花主题2</p>
						</div>
				</div>
				<div class="song-div6-er-2">
					<div class="song-div6-img">
								<img src="../images/huw_5.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>V&K 森林主题2</p>
						</div>
				</div>
				<div class="song-div6-er-3">
					<div class="song-div6-img">
								<img src="../images/huw_6.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>G&O 鲜花主题3</p>
						</div>
				</div>
		</div>
	</div>
	
											<!--第三张选项卡-->
	<div class="song-div6-con3" ng-switch-when="j3">
		<div class="song-div6-yi">
				<div class="song-div6-yi-1">
						<div class="song-div6-img">
							<img src="../images/hai_1.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>G&Z 威斯汀沙滩</p>
						</div>
				</div>
				<div class="song-div6-yi-2">
					<div class="song-div6-img">
								<img src="../images/hai_2.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>F&R 塞班海上游艇</p>
						</div>
				</div>
				<div class="song-div6-yi-3">
					<div class="song-div6-img">
								<img src="../images/hai_3.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>B&M 海外水上教堂</p>
						</div>
				</div>
		</div>
		<div class="song-div6-er">
				<div class="song-div6-er-1">
					<div class="song-div6-img">
								<img src="../images/hai_4.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>T&J 巴厘岛沙滩</p>
						</div>
				</div>
				<div class="song-div6-er-2">
					<div class="song-div6-img">
							<img src="../images/hai_5.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>V&K 关岛</p>
						</div>
				</div>
				<div class="song-div6-er-3">
					<div class="song-div6-img">
								<img src="../images/hai_6.png" alt="" />
						</div>
						<div class="song-div6-shuoming">
							<p>G&O 爱琴海</p>
						</div>
				</div>
		</div>
	</div>
	
   
	
</div>
<div class="null9"></div>
<div class="song-div7">
		<p>"流光溢彩安然如斯,勇敢诠释爱"</p>
</div>
<div class="song-div8">
		<p></p>
</div>
<div class="song-div9">
			<p>定制您婚礼中的幸福感！在婚礼当天，我们不仅仅记录的是婚礼本身，还有一场婚礼的气质！</p>
</div>
<div class="song-div10">
			<p>EFFORTS TO CREATE A HIGH-END WEDDING PHOTOGRAPHY BRAND,PURSUE ONLY BELONGS</p>
</div>
<div class="song-div11">
			<p>TO YOUR WEDDING DREAM!</p>
</div>
<div class="song-div12">
			<p></p>
</div>

<div class="null11"></div>
<div class="song-div13">
		<div class="song-div13-left">
					<div class="null12"></div>
					<img src="../images/song9.jpg" alt="" />
		</div>
		<div class="song-div13-con">
			<img src="../images/song8.jpg" alt="" />
		</div>
	<div class="song-div13-right">
					<div class="null12"></div>
					<img src="../images/song10.jpg" alt="" />
		</div>
</div>

<div class="null13"></div>

										<!--李雪松    新闻列表部分	-->	
<div class="song-lie">
		<div class="song-lie-1">
			<div class="song-lie-1-time">
				<p>09/18</p>
			</div>
			<div class="song-lie-1-year">
				<p>2016</p>
			</div>
			<div class="song-lie-1-title">
				<a href="">星月神话:邀您共同见证童话诞生</a>
			</div>
			<div class="song-lie-1-xiang">
				<p>拥有全明星的技术团队，前沿摄影技术和时尚的妆容表现。因为它是旅游城市，拥有</p>
				<p>独特的自然风光，因此...</p>
			</div>
		</div>
		<div class="song-lie-2">
			<div class="song-lie-1-time">
				<p>09/17</p>
			</div>
			<div class="song-lie-1-year">
				<p>2016</p>
			</div>
			<div class="song-lie-1-title">
				<a href="">三亚婚纱摄影哪家强</a>
			</div>
			<div class="song-lie-1-xiang">
				<p>说到去三亚拍摄婚纱照，大家第一反应就是高端大气价格昂贵。这并不是完全没有道</p>
				<p>理的，因为它是全国旅游城市，拥有独特的...</p>
			</div>
		</div>
</div>
<div class="null8"></div>

<div class="song-lie">
		<div class="song-lie-1">
			<div class="song-lie-1-time">
				<p>09/12</p>
			</div>
			<div class="song-lie-1-year">
				<p>2016</p>
			</div>
			<div class="song-lie-1-title">
				<a href="">婚博会优惠力度大   性价比更高</a>
			</div>
			<div class="song-lie-1-xiang">
				<p>婚纱摄影要从很多方面去考虑，但是在三亚这么多婚纱摄影里要挑选出最适合自己的</p>
				<p>才是较好的。基本上是...</p>
			</div>
		</div>
		<div class="song-lie-2">
			<div class="song-lie-1-time">
				<p>09/07</p>
			</div>
			<div class="song-lie-1-year">
				<p>2016</p>
			</div>
			<div class="song-lie-1-title">
				<a href="">婚庆5折优惠仅此一周</a>
			</div>
			<div class="song-lie-1-xiang">
				<p>拥有高端的旅拍和比较合适的性价比。但是在三亚这么多婚纱摄影里找到最适合自己</p>
				<p>的，是每一个女孩的...</p>
			</div>
		</div>
</div>

<div class="null8"></div>

<div class="song-lie">
		<div class="song-lie-1" style="border-bottom: 1px solid white;">
			<div class="song-lie-1-time">
				<p>09/04</p>
			</div>
			<div class="song-lie-1-year">
				<p>2016</p>
			</div>
			<div class="song-lie-1-title">
				<a href="">珠三角地区最专业的婚庆策划公司</a>
			</div>
			<div class="song-lie-1-xiang">
				<p>不同人的喜好和想要的风格是不一样的，所以各式各样的服装都是要有的，那去三亚</p>
				<p>拍摄婚纱照要挑选...</p>
			</div>
		</div>
		<div class="song-lie-2" style="border-bottom: 1px solid white;">
			<div class="song-lie-1-time">
				<p>08/21</p>
			</div>
			<div class="song-lie-1-year">
				<p>2016</p>
			</div>
			<div class="song-lie-1-title">
				<a href="">LOVE IN EVERY BREATH 仲夏欢乐颂</a>
			</div>
			<div class="song-lie-1-xiang">
				<p>选择三亚婚纱摄影的时候一定要慎重，多对比几家，选择最好的。因为三亚是全国旅</p>
				<p>游城市，因此受到很多...</p>
			</div>
		</div>
</div>
<div class="null15"></div>