<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="team_banner"></div>
		<div class="c_main">
			<h1>“让您的婚礼如花般绽放”</h1>
			<h3>真正的美丽，不是青春的容颜，而是绽放的心灵；不是物质的附庸，而是知识的光芒；真正的美丽，多是夹带着生活的余香，浸润着岁月的辙痕，承载着我们的希翼！</h3>
			<p>COMPLEX, FASHION, NATURAL, ELEGANT. A LIFELONG TASK WE IS FOUND AND IT BECOME REALITY APPLICATION AND YOUR WEDDING, IT IS THE NEW COUPLE ACCURATELY CAPTURE
SUCH QUALITY AND UNIQUE STYLE, AND FRESH INTENTION TO SHOW LOVE AND FAITH IN RESPECT OF LIFE. EACH LENS IS PRIVATE CUSTOMIZED A FASHION;<br />
EVERY CUSTOM IS OUR LIFELONG MISSION AND A COMPLETE.</p>
		</div>
		<div class="c_main1">
			<div class="c_main1_left">
				<h3>独具创新的革命性新理念</h3>
				<h1>我们致力于高品质婚庆策划</h1>
				<span class="team_fk">
					<img src="../images/c_fk.jpg" />
				</span>
				<p>广告各界领域精英组成，创立于2008年，是专注于婚礼创意策划、量<br/>身定做、礼仪服务的专业婚庆。幸福文化，为你我传递幸福，实现每对<br/>新人的婚礼梦想，全球领先的一站式婚礼服务专家,中国婚博会指定战<br/>略合作伙伴。</p>
			</div>
			<div class="c_main1_right">
				<img src="../images/team_pic.png" />
			</div>
		</div>
		<div class="c_main2">
			<h1>卓越团队，只为你的美丽一刻</h1>
			<h3>战略合作伙伴</h3>
		</div>
	</body>
</html>
